@import url("https://fonts.googleapis.com/css?family=Roboto");
  .container_cont{
    max-width: 200px;
    margin: auto;
    padding: 25px;
    font-family: "Roboto";
  }
  .contenedor-candidatas{
    
    text-align: center;
    width:400px;
    height: 400px;
    font-family: "Roboto";

  }
  .contenedor-candidatas img{
    width: 150px;
    height: 150px;
    border-radius: 10000px;
    margin-top: -25px;
    margin-left: 190px;
    z-index: 4;
    
    margin-bottom: 50px;
  }

  input[type='range']::-webkit-slider-runnable-track, 
input[type='range']::-webkit-slider-thumb{
         -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none; /*Elimina el borde azul. Se debería dar estilo de enfoque por razones de accesibilidad */
}
input[type='range']
 {-webkit-appearance: none;
 background: transparent;/* quitamos estilos es moz y webkit lo ponemios transparente */
 width: 100%; /* En firefox es requerido poner el ancho */
}
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Oculta el control deslizante para agregar estilos personalizados */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #bf930d;
  cursor: pointer;
  margin-top: -14px; /* hay que darle valor negativo, solo a este navegador */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}



  .contenedor-candidatas input{
    width: 200px;
    margin-top: 10px;
    background: #007429;
    color: #007429 ;
  }

  .contenedor-candidatas input{
    background-color: #138f3c;
    color: #138f3c;
    height: 10px;
    margin-bottom: 30px;

  }

  .botones-calificacion{
    width: 100px;
    text-align: center;
    height: auto;
    align-content: center;
    margin-left: 60px;
    display: grid;
    grid-template-columns: 39px 39px 39px 39px 39px 39px;
    font-family: "Roboto";

  }
  .botones-calificacion div{
    border-radius: 40px;
    background-color: #007429;
    width: 38px;
    height: 38px;
    top: 25px;
    font-size: 25px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Roboto";
    
  }
  .botones-calificacion p{
    margin-top: 5px;
  }
  .contenedor-candidatas button{
    border-radius: 100px;
    background-color: #007429;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-left: 25px;
    font-family: "Roboto";
  }
  .contenedor-candidatas button:hover{
    
    background-color: #09be48;
    font-size: 25px;
    font-family: "Roboto";
  }


  /*.botones-calificacion button{
    width: 40px;
    height: 40px;
    border-radius: 70px;
    color: #ffffff;
    background-color: rgb(5, 65, 5);
    font-size: 25px;
    font-family: fantasy;
    margin-left: 20px;
  }
  .botones-calificacion button:hover{
    background-color: rgb(54, 167, 54);
    border: #8dac21 6px solid;
    color: #ffffff;
  }
  .botones-calificacion button:visited{
    background-color: rgb(54, 167, 54);
    border: #8dac21 6px solid;
    color: #ffffff;
  }*/
  
.container-general{
  margin-left: 70px;
  margin-top: -80px;
  font-family: "Roboto";

}
  .green-round{
  border: 1px solid #138f3c;
  border-radius: 300px;
  width: 210px;
  height: 210px;
  background-color: #138f3c;
  color:#ffffff;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  z-index: 1;
  font-family: "Roboto";
  
  }
  .green-round h4{
    font-style: italic;
    margin-left: 50px;
    margin-right: 10px;
    font-family: "Roboto";
  }
   .green-round h5{
    margin-left: 20px;
    margin-right: 20px;  
    font-weight: 2000;
    font-family: "Roboto";
    margin-top: 60px;
  }

  .orange-round{

    border: 1px solid #bf930d;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    background-color: #bf930d;
    color:#ffffff;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: -230px;
    font-weight: bold;
    font-family: "Roboto";
    }
    .orange-round p{
      margin-top: 30px;
      font-family: "Roboto";
    }


    

    .filas{
      display: grid;
  grid-template-columns: auto auto auto;
  font-family: "Roboto";
    }
  
  
  .boton{
    margin-top: -250px;
    margin-left: 300px;
  }
  
  .barras{
    margin-top:45px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    font-family: 'Roboto', sans-serif;
  }
  
  .barras h2
  {
    position: absolute;
    top: 0;
    margin-top: 110px;
    padding: 10px;
    font-size: 50px;
  }
  
  .barra h2
  {
    margin-top:150px;
    
    color: #007429;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
  }
  
  .barra {
    width: 1200px;
    height: 200px;
    text-align: right;
    align-items: right;


  }

  .barra img{
    width: 350px;
    margin-top: 0px;
  }


  


