.logoespereina-icon {
  position: relative;
  width: 642px;
  height: 202px;
  object-fit: cover;
}
.frmpantnegra {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 45px 37px;
  align-items: flex-start;
  justify-content: flex-start;
}
.iniciar-sesin {
  position: relative;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #000;
  mix-blend-mode: normal;
}
.txtiniciarsesion,
.txtiniciarsesion-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.txtiniciarsesion {
  cursor: pointer;
  flex-direction: row;
}
.txtiniciarsesion-wrapper {
  position: absolute;
  top: 319px;
  left: 147px;
  flex-direction: column;
  padding: var(--padding-3xs);
}
.lblcontrasena {
  border: 0;
  background-color: var(--color-gainsboro);
  top: 155px;
  border-radius: var(--br-mini);
  width: 466px;
  height: 56px;
}
.lblcontrasena,
.lblusuario,
.usuario {
  position: absolute;
  left: 0;
}
.lblusuario {
  border: 0;
  background-color: var(--color-gainsboro);
  top: 38px;
  border-radius: var(--br-mini);
  width: 460px;
  height: 56px;
}
.usuario {
  top: 0;
  display: inline-block;
  width: 279px;
  height: 23px;
}
.iconousuario {
  position: absolute;
  top: 4px;
  left: 98px;
  width: 21px;
  height: 20px;
  object-fit: cover;
}
.grupoiconusu {
  position: absolute;
  top: 0;
  left: 0;
  width: 279px;
  height: 24px;
}
.contrasea,
.iconobloquear {
  position: relative;
}
.iconobloquear {
  width: 21px;
  height: 20px;
  object-fit: cover;
}
.grupoiconcan {
  position: absolute;
  top: 109px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 26px;
}
.lblcontrasena1,
.lblusuario1 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  position: absolute;
  top: 155px;
  left: 0;
  width: 466px;
  height: 56px;
}
.lblusuario1 {
  top: 38px;
  width: 460px;
}
.lblcontrasena-parent {
  position: relative;
  width: 466px;
  height: 211px;
}
.lbliniciarsesion {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: var(--font-size-xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.lbliniciarsesion-wrapper {
  position: relative;
  width: 154px;
  height: 44px;
}
.boton,
.formulariologin {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.boton {
  cursor: pointer;
  border: 0;
  padding: 13px 71px;
  background-color: #ee6f6f;
  overflow: hidden;
  align-items: flex-start;
}
.boton:hover {
  background-color: #ef3a3a;
}
.formulariologin {
  position: absolute;
  top: 472px;
  left: 81px;
  background-color: var(--color-white);
  box-shadow: -10px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  padding: 55px 40px;
  align-items: center;
  gap: 74px;
  font-size: 25px;
}
.siluetareina-icon {
  width: 726px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.frmpantverde,
.frmpantverde-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frmpantverde {
  background-color: #2f9c61;
  box-shadow: -5px 0 4px rgba(0, 0, 0, 0.25);
  width: 726px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
}
.frmpantverde:active {
  padding-right: 60px;
  box-sizing: border-box;
}
.frmpantverde-wrapper {
  position: absolute;
  top: -10px;
  left: 704px;
  padding: var(--padding-3xs);
}
.frmlogin {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 60px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .txtiniciarsesion {
    padding-left: 130px;
    box-sizing: border-box;
  }
  .frmpantverde {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-3xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .txtiniciarsesion {
    padding-left: 240px;
    box-sizing: border-box;
  }
  .frmpantverde {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-3xs);
    box-sizing: border-box;
  }
}
