@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

h1 {
  font-size: 6vmin;
  position: absolute;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  background-color: #007429;
  width: 100%;
  height: 110px;
  color: white;
  font-weight: lighter;
  font-size:auto;
}