@import url('https://fonts.googleapis.com/css?family=Poppins');

.calificacion-container {
    display: flex;
	flex-direction: column;
    position: relative;
	width: 303px;
	height: 210px;
	overflow: hidden;
}

.calificacion-container .calificacion-button {
    font-family: "Poppins";
    font-size: x-large;
    background: #ffffff;
    color: #000000;
    padding: 30px;
	text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin: 2px;
	z-index: 1;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.calificacion-container .boton-envio {
    font-family: "Poppins";
    font-size: medium;
    background: #ffffff;
    color: #000000;
    padding: 15px;
	text-align: center;
    border-radius: 8px;
    cursor: pointer;
    margin: 30px 2px;
	z-index: 1;
	display: flex;
	flex-direction: column;	
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.calificacion-button:hover {
	background-color: #e4c18a;
}

.boton-envio:hover {
	background-color: #e4c18a;
}