@import url('https://fonts.googleapis.com/css?family=Poppins');



.calificacion-button {
    font-family: "Poppins";
    position: relative;
    font-size: x-large;
    background-color: #ffffff;
    color: #090909;
    border: 2px solid #E29f31;
    padding: 50px 300px;
    border-radius: 4px;
    cursor: pointer;
}

.calificacion-button:hover {
    background-color: #e4c18a;
}
